.nav{ 
	width: 100%;
	height: 100px;
	background-color: bisque;
}
h1{
	color: black;
	text-align: center;
	width: 100%;
	height: 70px;
	background-color: #F5F5DC;
}

.header{
	width: 100%;
	height: 2000px;
}

ul{
	float: right;
	font: 微软雅黑;
	font-size: 24px;
	list-style-type: none;
	
}
.nav img{
	width:100px ;
	height: 100px;
	line-height: 10px;
}
ul li{
	float: left;
	
}
ul a{
	display: block;
	float: left;
	padding: 0 10px;
	text-decoration:none;
	
	
}
.image{
	width: 790px;
	height: 770px;
	background-color: aquamarine;
	
	
}
 .image img{
	width: 350px;
	height: 350px;
	padding-left: 20px;
	float:left;
}

aside{
	height: 770px;
	width: 700px;
	background-color: beige;
	float: left;
	margin-right: 10px;
	
}	
.h{
	width: 100%;
	height: 100%;
	
}


.footers{
	width: 100%;
	height: 200px;
	background-color: bisque;
}
.footers p{
	text-align: center;
}